


<div class="row">
  <div class="col-sm-6">
    <h1>Cotizaciones</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_budget_path, class: 'btn btn-primary' do %>
    Agregar cotización
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Valor</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @budgets.each do |budget| %>
        <%= content_tag :tr, id: dom_id(budget), class: dom_class(budget) do %>
          

                      <td><%= budget.nombre %></td>
                      <td><%= budget.descripcion %></td>
                      <td><%= number_to_currency(budget.valor, delimiter: ".", precision: 0) %></td>
          
          
            <td><%= link_to 'Ver', budget %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
